div {
  margin: 50px; }

div ul {
  display: flex;
  padding: 10px;
  list-style: none;
  justify-content: center; }

li {
  padding: 3px;
  margin: 2px; }

img {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }
